
    *
    {
        margin: 0;
    }
    .home2_body
    {
        background-size: 10px 10px;
        background-image: linear-gradient(to right, rgb(222, 222, 222) 1px, transparent 1px), linear-gradient(to bottom, rgb(222, 222, 222) 1px, transparent 1px);
    }
    .row
    {
        background-color: black;
        height: 120px;
    }
    .row1, .row2, .row3, .row8
    {
        text-align: center;
    }

    .row1 {
        /* border: 1px solid red; */
        width: 50%;
        /* margin: auto; */
        margin-left: 30%;
    }
    /* .imageLogo {
        margin-left: -5%; 
    } */

    .topLinks {
        margin-top: 6%;
    }
    /* .aboutLink {
        margin-left: 5%;
    } */
    /* .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1
    {
        margin-top: 40px;
    } */
    @font-face
    {
        font-family: bebasneueBold;
        src: url('../font/BebasNeue\ Bold.otf');
    }
    @font-face
    {
        font-family: breeSerifRegular;
        src: url("../font/BreeSerif-Regular.otf");        
    }        
    .a_menu
    {
        font-family: bebasneueBold;
        font-size: 2em;
        color: rgb(206, 205, 164);
        text-decoration: none;
    }
    .a_menu:hover
    {
        /* text-decoration: overline; */
        color: white;
    }

    .imageDiv {
        position: relative;
        margin-left: 15%;
    }
    .img_logo
    {
        width: 170px;
        height: 170px;
        /* position: relative; */

        /* text-align: center; */
/*                margin-left: 10px;*/
        /* margin-top: 10px; */
        position: absolute;
    }
/*
    .w3-label
    {
        width: 300px;
        height: 50px;
    }
*/
    .row3, .row4, .row5, .row6, .row7, .row8
    {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row5 {
        text-align: center;
        font-family: breeSerifRegular;
        font-size: 2em;
    }

    .row3 {
        font-family: breeSerifRegular;
        font-size: 2em;
        text-align: center;
    }

    table {
        width: 100%;
        /* border: 1px solid red; */
        /* font-size: 2em; */
    }

    table, tr, td
            {
                padding: 15px;
            }
    /* .row5 {
      width: 65%;
      text-align: left;
    } */
    .row4_left
    {
        width: 65%;
        float: left;
/*                border: 1px solid blue;*/
    }
    .row4_right
    {
        width: 33%;
        height: 400px;
        float: right;
/*                border: 1px solid red;*/
        text-align: center;
    }
    .img_pic
    {
        height: 400px;
/*                width: 200px;*/
        border-radius: 50%;
    }
    .row5, .row6, .row7
    {
        clear: both;
    }
    .span_about
    {
        font-size: 1.3em;
        text-align: left;
    }
    .blockquote_p
    {
        text-align:center;
        color: firebrick;
    }
    .span_edu
    {
/*
        width: 300px;
        height: 50px;
*/
        text-align: center;
        font-size: 2.2em;
        /* background-color: red; */
        color: black;
        border-radius: 4px;
/*                text-align: left;*/
/*                border: 2px solid blue;*/
    }
    .edu_1
    {
        /* width: 32%; */
/*                border: 1px solid red;*/
        /* float: left; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .edu_2
    {
        /* width: 34.7%; */
/*                border: 1px solid red;*/
        /* float: left; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .edu_3
    {
        /* width: 33.3%; */
/*                border: 1px solid red;*/
        /* float: right; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .edu_title
    {
        font-size: 1.4em;
/*
        padding-top: 5px;
        padding-bottom: 5px;
*/
    }
    .edu_degree
    {
        font-size: 1.1em;
        color: red;
/*
        padding-top: 5px;
        padding-bottom: 5px;
*/
    }
    .edu_content
    {
        font-size: 1em;
        /* padding: 10px; */
/*
        padding-top: 5px;
        padding-bottom: 5px;
*/
    }
